@font-face {
    font-family: 'teko';
    src: url('../fonts/teko-variablefont_wght.woff2') format('woff2'),
         url('../fonts/teko-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    font-family: "Teko", sans-serif;

}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    background-color: #eee;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms;
}
td:hover {
   /* background-color: #eca5a5;*/

}
td.selected {
    background-color: rgb(56, 12, 12);
    color: #fff;
}
td.winner {
    background-color: rgb(255, 255, 0);
    color: rgb(100, 11, 11);
    font-size:25px;
    outline: #000 5px solid;
    border-radius: 5px;
}
#qr {
	position: relative;
	display: block;
	max-width:50%;
	margin-left: auto;
	margin-right:auto;
	opacity: .5;
	margin-top:20px;
}